@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-violet: #7801FF;
  --color-purple: #B86EF9;
  --color-magenta: #D242D7;
  --color-white: #FFFFFF;
  --color-bg: #090416;
  --logo-hue-rotate: 0deg;
  --bg-gradient-from: #1f093f;
  --bg-gradient-via: #090416;
  --bg-gradient-to: #04020a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #090416;
  min-height: 100vh;
}

body {
  background-color: transparent;
  color: var(--color-white);
  min-height: 100vh;
  overflow-x: hidden;
}